.home {
    background-color: rgb(43, 42, 40);
    height: 100vh;
    padding: 10px;
    .notes_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    h2 {
        color: chocolate;
        text-align: center;
    }
    button {
        background-color: chocolate;
        border: none;
        border-radius: 4px;
        color: cornsilk;
        font-weight: bold;
    }
    .button {
        margin: 10px;
    }
    .list {
        text-align: center;
        .form input {
            background-color: rgb(248, 240, 229);
        }
        h2 {
            color: chocolate;
        }
    }
}