.home {
    .notes_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .btn-circle {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
}